body {
   text-align:center;
   width: 100%;
   color: #5D6469;
   background-color: rgba(26, 150, 227, 0.3);
   display: block;
   margin: 0 0;
   font-family: 'Manrope', sans-serif;
}

h1{
    color: black;
}

h2 {
    color: #EF476F;
    margin-bottom: 0;
}

h3 {
    color: black;
    margin-top: 0;
}

h4 {
    font-weight: 600;
}

h5{
    font-weight: 400;
}

table{
    text-align: left;
    border: solid 2px black;
    border-collapse: separate;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    background-color: rgba(239, 71, 111, 0.8);
    color: black;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

tr{
    display: table-row;
    border: 1px solid black;
}

td{
    margin: 2px;
    padding: 2px auto;
    border: 1px solid black;
}
.container {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    display: inline-block;
}

.big-container{
    text-align: center;
    display: inline-block;
}

.tag {
    background-color:beige;
}
